body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(#f6aa1c, #ccc5b9, #eb5e28);
}

h1, h2, h3 {
    font-family: "";
}

h2 {
    color: black;
}

header h2 {
    color: white;
}

.site-footer {
    background-color: #252422;
    padding: 20px 0;
    color: white;
}

header {
    
    background-image: url("img/studio2.jpg");
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #252422;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid black;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.card {
    padding: 10px;
    background:rgba(0, 0, 0, 0.1);
}